/*Encabezado de titulo de Navegacion*/
.TituloHeight{
    margin-bottom: 3px;
    display: inline-block;
}
.spanSubTitle{
    font-size: 12px;
    font-weight: 300;
    display: block;
}
.iconTitlePosition{
    position: relative;
    top: 7px;
}
.dividMargin{
    margin-top: 10px;
    margin-bottom: 15px;
}
.colMargionTop{
    margin-top: 15px;
    margin-bottom: 15px;
}
/*FIN de Encabezado de titulo de Navegacion*/
.colMargin{
    margin-top: 15px;
    text-align: center;
}
::ng-deep .mat-mdc-text-field-wrapper {
    width: 100%;
    background-color:transparent!important;
}
.tableAlig{
    text-align: left;
}
td{
    padding-right: 8px;
} 
.tdTel{
    max-width: 270px;
} 
.example-full-width {
    width: 100%;
}  
.buttonColorEnviar{
    background: linear-gradient(to top right, #6271ce, #16eaae);
    border-radius: 25px;
    width: 120px;
}
  
  