/*Encabezado de titulo de Navegacion*/
.TituloHeight{
    margin-bottom: 3px;
    display: inline-block;
}
.spanSubTitle{
    font-size: 12px;
    font-weight: 300;
    display: block;
}
.iconTitlePosition{
    position: relative;
    top: 7px;
}
.dividMargin{
    margin-top: 10px;
    margin-bottom: 15px;
}
.colMargionTop{
    margin-top: 15px;
    margin-bottom: 15px;
}
/*FIN de Encabezado de titulo de Navegacion*/
.cardWidth{
    width: 100%;
}
.colMargin{
    margin-top: 15px;
    text-align: center;
}
::ng-deep .mat-mdc-text-field-wrapper {
    width: 100%;
    background-color:transparent!important;
}
.tableAlig{
    text-align: left;
}
td{
    padding-right: 8px;
} 
.tdTel{
    max-width: 270px;
} 
.example-full-width {
    width: 100%;
}  
.buttonColorEnviar{
    background: linear-gradient(to top right, #6271ce, #16eaae);
    border-radius: 25px;
    width: 120px;
}
/*Modificacion de alerta*/
::ng-deep .mat-mdc-snack-bar-container {
    --mat-mdc-snack-bar-button-color: rgba(0, 0, 0, 0.87);
    --mdc-snackbar-container-color: #42ba90;
    --mdc-snackbar-supporting-text-color: rgba(66, 66, 66, 0.87);
}
/*Modificacion de input en tabla*/
::ng-deep .mat-mdc-form-field-infix {
    flex: auto;
    min-width: 0;
    width: auto!important;
    position: relative;
    box-sizing: border-box;
}