<!--Margen top -->
<div style="height: 80px;"></div>
<div class="container conterFooter">
    <div class="row justify-content-md-center">
        <mat-divider class="dividMargin"></mat-divider>
        <!--Lista de Secciones Footer-->
        <div class="col-6 col-sm-4 col-md-4 colMargionTop">
            <h3 class="h3Height">Descubrir</h3>
            <mat-list>
                <mat-list-item class="itemHeight">
                    <span class="spnaFont">WorkSpace</span>
                </mat-list-item>
                <mat-list-item class="itemHeight">
                    <span class="spnaFont">Shoping</span>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="col-6 col-sm-4 col-md-4 colMargionTop">
            <h3 class="h3Height">Servicios</h3>
            <mat-list>
                <mat-list-item class="itemHeight">
                    <span class="spnaFont">Formulario</span>
                </mat-list-item>
                <mat-list-item class="itemHeight">
                    <span class="spnaFont">Aplicaciones</span>
                </mat-list-item>
            </mat-list>
        </div>
        <div class="col-6 col-sm-4 col-md-4 colMargionTop">
            <h3 class="h3Height">Sociales</h3>
            <div>
                <img matTooltip="Facebook" matTooltipPosition="below" class="imgSocialHeight" src="/assets/icons/social/facebook.png" alt="Social Facebook">
                <img matTooltip="Twitter" matTooltipPosition="below" class="imgSocialHeight" src="/assets/icons/social/twitter.png" alt="Social Twitter">
                <img matTooltip="Instagram" matTooltipPosition="below" class="imgSocialHeight" src="/assets/icons/social/instagram.png" alt="Social Instagram">
                <!-- <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                    <mat-icon>Facebook</mat-icon>
                  </button> -->
            </div>
        </div>
        <!--Copyright-->
        <div class="col-6 colWith">
            <mat-card>
                <mat-card-content>
                    <p>
                        Copyright © 2023 DemoService Inc. Todos los derechos reservados.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>