/*Encabezado de titulo de Navegacion*/
.TituloHeight{
    margin-bottom: 3px;
    display: inline-block;
}
.spanSubTitle{
    font-size: 12px;
    font-weight: 300;
    display: block;
}
.iconTitlePosition{
    position: relative;
    top: 7px;
}
.dividMargin{
    margin-top: 10px;
    margin-bottom: 15px;
}
.colMargionTop{
    margin-top: 15px;
    margin-bottom: 15px;
}
/*FIN de Encabezado de titulo de Navegacion*/

.containerHeight {
    margin-top: 20px;
    min-height: 450px;
}
.cardWidth{
    align-items: center;
}
.textPerfil{
    margin-top: 10px;
    font-weight: 300;
}
.imgPerfil{
    margin-top: 20px;
    border-radius: 60px;
    height: 120px;
    width: 120px;
}
.buttonColorSeguir{
    background: linear-gradient(to top right, #8162CE, #487eda);
    border-radius: 25px;
}
.imgConsoleHeight{
    height: 35px;
    width: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.colMargionConsole{
    margin-top: 15px;
    margin-bottom: 15px;
}
.roWith{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.actionCard{
    width: 100%;
}
.dividMargin{
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.spanFollow{
    color:#666B7D;
    font-family: roboto;
    font-weight: 500;
}
.buttonCerrar{
    position: absolute;
    right: 5px;
    top: 5px;
}