<div class="container">
    <!--Encabezado de Navegacion-->
    <div class="encabezadoMargin">
        <h4 class="TituloHeight" [routerLink]="''">DemoService</h4>
        <mat-icon class="iconTitlePosition">arrow_right_alt</mat-icon>
        <h4 class="TituloHeight">Catalogo de Usuarios</h4>
        <span class="spanSubTitle">Podras visulalizar los diferentes usarios asignados en la plataforma.</span>
        <mat-divider class="dividMarginSeparador"></mat-divider>
    </div>
    <div class="row">
        <div class="col-md-12 animate__animated animate__fadeInUp">
            <!-- Input de Filtro -->
            <mat-form-field>
                <mat-label>Buscar usuario</mat-label>
                <input matInput (keyup)="buscarFilterTabla($event)" placeholder="Ejm. Otto" #input [(ngModel)]="filtre" autocomplete="off">
              </mat-form-field>
              <!-- Tabla y su data NOTA: multiTemplateDataRows se usa para crear el expazor -->
              <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                <ng-container matColumnDef="expand">
                  <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                      <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                      <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="nombreUsario">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombreUsario}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="tipoJugador">
                  <th mat-header-cell *matHeaderCellDef> Tipo de Juegos </th>
                  <td mat-cell *matCellDef="let element"> {{element.tipoJugador}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="consola">
                  <th mat-header-cell *matHeaderCellDef> Consola </th>
                  <td mat-cell *matCellDef="let element"> {{element.consola}} </td>
                </ng-container>
                <!-- Column -->
                <ng-container matColumnDef="plataforma">
                  <th mat-header-cell *matHeaderCellDef> Plataforma </th>
                  <td mat-cell *matCellDef="let element"> {{element.plataforma}} </td>
                </ng-container>
                <!-- Contenerdor de Expanzor -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="example-element-detail"
                          [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <img class="imgPerfil" src={{element.userImag}} alt="Photo of a Shiba Inu">
                      <!-- <div class="example-element-diagram">
                        <div class="example-element-symbol"> {{element.tipoJugador}} </div>
                      </div> -->
                      <div class="example-element-description">
                        Descripción <br>
                        <span class="example-element-description-attribution">{{element.descripcionUsuario}} -- Wikipedia </span>
                      </div>
                    </div>
                  </td>
                </ng-container>
                <!-- Relacion de columnos y datbal -->
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <!-- Relacion de columnos y datbal con el expanzor -->
                <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row"></tr>
                <!-- Resultado de la busqueda en vacio cuando se filtra. -->
                <tr class="mat-row paddingFiltreVacio" *matNoDataRow>
                  <td *ngIf="filtre" class="mat-cell paddingFiltreVacio" colspan="5" >No se encontro resultados en la Busqueda de filtro. "{{input.value}}"</td>
                </tr>
              </table>
              <!-- Paginacion de la tabla -->
              <mat-divider class="margginColorDivider"></mat-divider>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>
