<mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer mode="side" class="example-sidenav">My Sindebar
        <mat-list>
            <mat-list-item class="contenerItem">
              <mat-icon matListItemIcon class="listIcon">folder</mat-icon>
                <span class="spanText">ServiciosSharepoint</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon class="listIcon">assignment</mat-icon>
                  <span class="spanText">Formulario</span>
              </mat-list-item>
          </mat-list>
    </mat-drawer>
    <mat-drawer-content>

     
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
  </mat-drawer-container>