<mat-sidenav-container class="example-container" [hasBackdrop]="true">
    <mat-sidenav #sidenav mode="side" class="example-sidenav">My Sindebar
        <mat-list>
            <mat-list-item class="contenerItem">
              <mat-icon matListItemIcon class="listIcon">folder</mat-icon>
                <span class="spanText">ServiciosSharepoint</span>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon class="listIcon">assignment</mat-icon>
                  <span class="spanText">Formulario</span>
              </mat-list-item>
          </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>

     
    </mat-sidenav-content>
  </mat-sidenav-container>