<!--Preloader-->
<div class="preloader" *ngIf="preloader">
  <mat-spinner [color]="color" ></mat-spinner>
</div>
<mat-sidenav-container class="contenerSidebar" [hasBackdrop]="true">
   <!--Contenido de Sidebar ocultando-->
  <mat-sidenav #sidenav mode="side" class="sidebar">My Sindebar
    <mat-list>
      <mat-list-item class="contenerItem" *ngFor="let infoSider of sidebarInfo" (click)="routerLink(infoSider.attributes.ligaSeccion, infoSider.type)">
        <mat-icon matListItemIcon class="listIcon">{{infoSider.attributes.iconoSeccion}}</mat-icon>
        <span *ngIf="infoSider.attributes.nombreSeccion?.length > 15" matTooltip={{infoSider.attributes.nombreSeccion}} matTooltipPosition="below" class="spanText">{{infoSider.attributes.nombreSeccion}}</span>
        <span *ngIf="infoSider.attributes.nombreSeccion?.length < 15" class="spanText">{{infoSider.attributes.nombreSeccion}}</span>
      </mat-list-item>
      <div class="divContacto">
      <mat-list-item class="itemHeight" (click)="routerLink('contacto', 'nombreSeccion')">
        <mat-icon matListItemIcon class="listIcon">contact_support</mat-icon>
        <span class="spnaFont">Contactanos</span>
      </mat-list-item>
      </div>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--Contenido de Sidebar pantalla Larga-->
    <div class="row">
        <!--IF para saber si esta abierto o no el otro sidebar, ya que si se expade la pantalla abre el otro sidebar-->
        <div class="col d-none d-lg-block sidebarLarge" *ngIf="!sidenav.opened">
        <mat-list>
          <mat-list-item class="contenerItem" *ngFor="let infoSider of sidebarInfo" (click)="routerLink(infoSider.attributes.ligaSeccion, infoSider.type)">
            <mat-icon matListItemIcon class="listIcon">{{infoSider.attributes.iconoSeccion}}</mat-icon>
            <span *ngIf="infoSider.attributes.nombreSeccion?.length > 18" matTooltip={{infoSider.attributes.nombreSeccion}} matTooltipPosition="below" class="spanText">{{infoSider.attributes.nombreSeccion}}</span>
            <span *ngIf="infoSider.attributes.nombreSeccion?.length < 18" class="spanText">{{infoSider.attributes.nombreSeccion}}</span>
          </mat-list-item>
          <div class="divContacto">
          <mat-list-item class="itemHeight" (click)="routerLink('contacto', 'nombreSeccion')">
            <mat-icon matListItemIcon class="listIcon">contact_support</mat-icon>
            <span class="spnaFont">Contactanos</span>
          </mat-list-item>
          </div>
        </mat-list>
      </div>
      <!--Seccion de outlet cel es la navegacion de sitio-->
      <div class="col">
        <router-outlet></router-outlet>
        <!--Seccion de Footer-->
        <app-footer></app-footer>
        <!--Compensacion de Encabezado en scroll-->
        <div style="height: 65px;"></div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
