.containerMargin{
    margin-top: 20px;
}

.cardWidth{
    max-width: 600px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.colMargionTop{
    margin-top: 15px;
    margin-bottom: 15px;
}

.colorCard{
    background-color:#31394D
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}